useDynLib(robcp)



import(stats)
 

import(utils)


import(grDevices)


import(graphics)

import(Rcpp)

importFrom("methods", "is")



export(
h_cumsum
)

export(lrv)

export(psi)

export(modifChol)

export(h_teststat)

export(pKSdist)

export(huber_cusum)

export(pbessel3)

export(kthPair)

export(medianDiff)