useDynLib(robcp)


S3method(print, cpStat)

S3method(plot, cpStat)


import(stats)
 

import(utils)


import(grDevices)


import(graphics)

import(Rcpp)

importFrom("methods", "is")



export(
psi_cumsum
)

export(lrv)

export(psi)

export(modifChol)

export(CUSUM)

export(pKSdist)

export(huber_cusum)

export(pBessel)

export(kthPair)

export(medianDiff)

export(weightedMedian)

export(u_hat)

export(HodgesLehmann)

export(wilcox_stat)

export(hl_test)

export(wmw_test)

export(scale_stat)

export(scale_cusum)

export(cor_stat)

export(cor_cusum)


export(Qalpha)